body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
video{
    position: fixed;
    z-index: -1;
    margin-inline:auto ;
}
h1{
    font-size: 4.7rem;
    text-align: center;
    text-decoration:4px  underline black;
    background-color: bisque;
    border-bottom:3px ridge black ;
    box-shadow:0 0 7px gray;
    margin-bottom: 7px;
}
main{
    font-size: 1.1rem;
    width:60svw;
    margin: auto;
   line-height: 4svh;
   border-radius: 5px;
   padding: 20px;
   background-color: rgba(255, 255, 255, 0.471);
}
#Leo-Canner{
    float: right;
    margin:40svh 2%;
    margin-right: 0;
    width: 20svw;
}